.container {
    width: 90%;
}

.card-panel .row {
    padding: 0 1rem;
}

.title {
    padding: 1rem 0 2rem 0;
}

.flashes h5 {
    line-height: 1.5;
}
.flashes {
    margin: 1rem 6rem 0 6rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 1.5rem;
    padding-left: 2rem;
}

.task-list {
    margin-top: 2rem;
}
