html {
    min-height: 100%;
    position: relative;
}

.card-panel .row {
    padding: 0 1rem;
}

.title {
    padding: 1rem 0 2rem 0;
}

.flashes h5 {
    line-height: 1.5;
}

.flashes {
    margin: 1rem 6rem 0 6rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.logo {
    font-size: 1.5rem;
    padding-left: 2rem;
}

.task-list {
    margin-top: 2rem;
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
	width: 100%;
}
/* Style for collapsable lists and collapse buttons */

.click-collapse {
    border: none;
    width: 100%;
    height: 100%;
}

.expand-div {
    height: 3rem;
}

#collapsed-dept-tasks, 
#collapsed-personal-tasks,
#collapsed-shared-tasks {
    display: none;
}

