html {
    min-height: 100%;
    position: relative;
}

/* Hide by default but it has a class of show-on-large */
.fixed-action-btn {
    display: none;
}

.search-bar {
    margin-top: 1rem;
}

.btn-margin {
    margin: 0.5rem;
}

.card-panel .row {
    padding: 0 1rem;
}

.title {
    padding: 1rem 0 2rem 0;
}

.flashes h5 {
    line-height: 1.5;
}

.flashes {
    margin: 1rem 6rem 0 6rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.logo {
    font-size: 1.5rem;
    padding-left: 2rem;
}

.task-list {
    margin-top: 2rem;
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
	width: 100%;
}
/* Style for collapsable lists and collapse buttons */

.click-collapse {
    border: none;
    width: 100%;
    height: 100%;
}

.expand-div {
    height: 3rem;
}

#dept-tasks, 
#personal-tasks,
#shared-tasks {
    display: none;
}

#collapse-personal,
#collapse-dept,
#collapse-shared {
    width: 100%;
    height: 100%;
    border: none;
}

.list-heading {
    padding: 1rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2)
}

.box-shadow {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2)
}