{% extends "base.html" %}
{% block content %}

    <div class="row search-bar">
        <div class="col s12 m6 offset-m3 card-panel grey lighten-5">
            <form action="{{url_for('search')}}" method="POST" class="">
                <div class="row center-align">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix purple-text"></i>
                        <input type="text" class="validate" id="query" name="query" minlength="3" required>
                        <label for="query">Search by task name or description</label>
                    </div>
                    <div class="col s12">
                        <a href="{{url_for('all_tasks')}}" class="red btn-margin btn-small text-shadow">Reset Query</a>
                        <button type="submit" class="purple btn-margin btn-small text-shadow">
                            <i class="fas fa-search left"></i>Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <!-- List of all departmental tasks -->
        <div class="col s12 m10 offset-m1 task-list">
            <ul class="collapsible">
                <h5 class="center-align purple-text darken-4">List of All Departmental Tasks</h5>
                <!-- Looks for all departmental tasks -->
                {% for task in tasks if task.type == "departmental" %}
                    <li>
                        <div class="collapsible-header white-text text-shadow purple darken-1">
                            <div class="col s1">
                                <i class="fas fa-caret-down"></i>
                            </div>
                            <div class="col s11">
                                <span class="col s12 m6">
                                    <strong>
                                        <!-- Shows department name because this list contains all tasks from all departments -->
                                        {% for department in departments %}
                                            {% if department.department_name == task.department %}
                                                {{ department.department_label }}
                                            {% endif %}
                                        {% endfor %}
                                        &nbsp;-&nbsp;
                                    </strong>
                                    <strong>{{ task.task_name.capitalize() }}</strong>
                                    {% if task.completed == True %}
                                        <i class="fas fa-check-circle light-green-text text-accent-3 tooltipped" 
                                            data-position="right" data-tooltip="Task Completed">
                                        </i>
                                    {% endif %}
                                    {% if today > task.due_date and task.completed != True %}
                                        <i class="fas fa-exclamation-triangle red-text tooltipped" 
                                            data-position="right" data-tooltip="Task Due!">
                                        </i>
                                    {% endif %}
                                </span>
                                <span class="col s12 m6">
                                    <span>Due:&nbsp;</span>
                                    {{ task.due_date.strftime('%d/%b/%Y') }}
                                    <span> &nbsp;&nbsp;&nbsp;&nbsp;
                                        {% if task.is_urgent == "on" %}
                                            <i class="fas fa-exclamation-circle yellow-text text-darken-3 tooltipped" 
                                                data-position="right" data-tooltip="Urgent Task!">
                                            </i>
                                        {% endif %}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <p>{{ task.task_description.capitalize() }}</p>
                            <p>
                                <em>
                                    Created by: {{ task.creator_label }}&nbsp;&nbsp;
                                    on: {{ task.created_on.strftime('%d/%b/%Y') }} 
                                </em>
                                {% if task.updated_by %}
                                    <em>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        Updated by: {{ task.updator_label }}&nbsp;&nbsp;
                                        on: {{ task.updated_on.strftime('%d/%b/%Y') }} 
                                    </em>
                                {% endif %} 
                                {% if task.completed == true %}
                                    <em>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        Completed by: {{ task.completed_by_label }}&nbsp;&nbsp;
                                        on: {{ task.completed_on.strftime('%d/%b/%Y') }} 
                                    </em>
                                {% endif %}                   
                            </p>
                            {% if task.completed != true %}
                                <a href="#modal5{{ loop.index }}" 
                                    class="btn-small waves-effect waves-light accent-4 modal-trigger green">
                                    Done
                                </a>
                                {% if session.user|lower == task.created_by|lower 
                                    or session.is_admin == "on" or session.is_mgmt == "on" %}
                                    <a href="{{ url_for('edit_dept_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light blue">
                                        Edit
                                    </a>
                                    <!-- Delete button triggers modal to confirm for defensive purposes -->
                                    <a href="#modal1{{ loop.index }}" 
                                        class="btn-small waves-effect waves-light accent-4 modal-trigger red">
                                        Delete
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <!-- Modal Structure -->
                        <div id="modal1{{ loop.index }}" class="modal">
                            <div class="modal-content">
                                <h6>
                                    <strong>
                                        Are You Sure You Want To Permanently Delete The Task?
                                    </strong>
                                </h6>
                            </div>
                            <div class="modal-footer">
                                <button class="modal-close waves-effect accent-4 green waves-light btn-small">
                                    Cancel
                                </button>
                                <a href="{{ url_for('delete_task', task_id=task._id) }}"
                                    class="modal-close waves-effect accent-4 red waves-light btn-small">
                                    Delete Task
                                </a>
                            </div>
                        </div>
                        <div id="modal5{{ loop.index }}" class="modal">
                            <div class="modal-content">
                                <h6>
                                    <strong>
                                        Are You Sure You Want To Complete The Task?
                                    </strong>
                                </h6>
                            </div>
                            <div class="modal-footer">
                                <button class="modal-close waves-effect accent-4 red waves-light btn-small">
                                    Cancel
                                </button>
                                <a href="{{ url_for('complete_task', task_id=task._id) }}" 
                                    class="btn-small waves-effect waves-light accent-4 green">
                                    Complete Task
                                </a>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <div class="box-shadow white-text text-shadow center-align purple darken-1">
                        No Tasks Found
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}