{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- List of all departmental tasks -->
        <div class="col s12 m10 offset-m1 task-list">
            <ul class="collapsible">
                <h5 class="center-align purple-text darken-4">List of All Departmental Tasks</h5>
                <!-- Looks for all departmental tasks -->
                {% for task in tasks %}
                    {% if task.type == "departmental" %}
                        <li>
                            <div class="collapsible-header white-text text-shadow purple darken-1">
                                <div class="col s1">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="col s11">
                                    <span class="col s12 m6">
                                        <strong>
                                            <!-- Shows department name because this list contains all tasks from all departments -->
                                            {% for department in departments %}
                                                {% if department.department_name == task.department %}
                                                    {{ department.department_label }}
                                                {% endif %}
                                            {% endfor %}
                                            &nbsp;-&nbsp;
                                        </strong>
                                        <strong>{{ task.task_name.capitalize() }}</strong>
                                    </span>
                                    <span class="col s12 m6">
                                        <span>Due:&nbsp;</span>
                                        {{ task.due_date }}
                                        <span> &nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if task.is_urgent == "on" %}
                                                <i class="fas fa-exclamation-circle yellow-text text-darken-3 tooltipped" 
                                                    data-position="right" data-tooltip="Urgent Task!">
                                                </i>
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <p>{{ task.task_description.capitalize() }}</p>
                                <p>
                                    <em>
                                        Created by: {{ task.creator_label }}&nbsp;&nbsp;
                                        on: {{ task.created_on }} 
                                    </em>
                                    {% if task.updated_by %}
                                        <em>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            Updated by: {{ task.updator_label }}&nbsp;&nbsp;
                                            on: {{ task.updated_on }} 
                                        </em>
                                    {% endif %}                    
                                </p>
                                <a href="#modal5{{ loop.index }}" 
                                    class="btn-small waves-effect waves-light accent-4 modal-trigger green">
                                    Done
                                </a>
                                {% if session.user|lower == task.created_by|lower 
                                    or session.is_admin == "on" or session.is_mgmt == "on" %}
                                    <a href="{{ url_for('edit_dept_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light blue">
                                        Edit
                                    </a>
                                    <!-- Delete button triggers modal to confirm for defensive purposes -->
                                    <a href="#modal1{{ loop.index }}" 
                                        class="btn-small waves-effect waves-light accent-4 modal-trigger red">
                                        Delete
                                    </a>
                                {% endif %}
                            </div>
                            <!-- Modal Structure -->
                            <div id="modal1{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h6>
                                        <strong>
                                            Are You Sure You Want To Permanently Delete The Task?
                                        </strong>
                                    </h6>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect accent-4 green waves-light btn-small">
                                        Cancel
                                    </button>
                                    <a href="{{ url_for('delete_task', task_id=task._id) }}"
                                        class="modal-close waves-effect accent-4 red waves-light btn-small">
                                        Delete Task
                                    </a>
                                </div>
                            </div>
                            <div id="modal5{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h6>
                                        <strong>
                                            Are You Sure You Want To Complete The Task?
                                        </strong>
                                    </h6>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect accent-4 red waves-light btn-small">
                                        Cancel
                                    </button>
                                    <a href="{{ url_for('complete_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light accent-4 green">
                                        Complete Task
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                            <div class="box-shadow white-text text-shadow center-align purple darken-1">
                                No Active Tasks
                            </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}