{% extends "base.html" %}
{% block content %}

    <!-- Simple parallax home page -->
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/cih-1.jpg') }}" alt="hotel-from-outside">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h3 class="header">Cork International Hotel Task Manager</h3>
            <p class="grey-text text-darken-3 lighten-3">
                <strong>Say goodbye to uncompleted tasks</strong>
            </p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/cih-2.jpg') }}" alt="hotel-lobby">
        </div>
    </div>

{% endblock %}
