{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- List of personal tasks -->
        <div class="col s12 m7 task-list">
            <ul>
                <h5 class="list-heading center-align purple-text text-darken-1">
                    <strong>{{ session.first_name }}'s Tasks</strong>
                </h5>
                <div class="expand-div box-shadow center-align purple darken-1">
                    <button id="collapse-personal" class="center-align white-text text-shadow purple darken-1">
                        Show / Hide {{ session.first_name }}'s Tasks
                    </button>
                </div>
                <!-- Looks for tasks assigned to current user and shows only those tasks -->  
                <ul id="personal-tasks" class="collapsible">
                    {% for task in tasks if task.assigned_to.lower() == session.user.lower() %}
                        <li>
                            <div class="collapsible-header white-text text-shadow purple darken-1">
                                <div class="col s1">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="col s11">
                                    <span class="col s12 m6">
                                        <strong>{{ task.task_name.capitalize() }}</strong>
                                    </span>
                                    <span class="col s12 m6">
                                        <span>Due:&nbsp;</span>
                                        {{ task.due_date }}
                                        <span> &nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if task.is_urgent == "on" %}
                                                <i class="fas fa-exclamation-circle yellow-text text-darken-3 tooltipped" data-position="right"
                                                    data-tooltip="Urgent Task!">
                                                </i>
                                            {% endif %}
                                    </span>
                                    </span>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <p>{{ task.task_description.capitalize() }}</p>
                                <p>
                                    <em>
                                        Created by: {{ task.creator_label }}&nbsp;&nbsp;
                                        on: {{ task.created_on }} 
                                    </em>
                                    {% if task.updated_by %}
                                        <em>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Updated by: {{ task.updator_label }}&nbsp;&nbsp;
                                            on: {{ task.updated_on }} 
                                        </em>
                                    {% endif %}
                                </p>
                                <a href="#modal6{{ loop.index }}" 
                                    class="btn-small waves-effect waves-light accent-4 modal-trigger green">
                                    Done
                                </a>
                                {% if session.user|lower == task.created_by|lower 
                                    or session.is_admin == "on" or session.is_mgmt == "on" %}
                                    <a href="{{ url_for('edit_personal_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light blue">
                                        Edit
                                    </a>
                                    <!-- Delete button triggers modal to confirm for defensive purposes -->
                                    <a href="#modal2{{ loop.index }}" 
                                        class="btn-small waves-effect waves-light accent-4 modal-trigger red">
                                        Delete
                                    </a>
                                {% endif %}
                            </div>
                            <!-- Modal Structure -->
                            <div id="modal2{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h6>
                                        <strong>
                                            Are You Sure You Want To Permanently Delete The Task?
                                        </strong>
                                    </h6>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect accent-4 green waves-light btn-small">
                                        Cancel
                                    </button>
                                    <a href="{{ url_for('delete_task', task_id=task._id) }}" 
                                        class="modal-close waves-effect accent-4 red waves-light btn-small">
                                        Delete Task
                                    </a>
                                </div>
                            </div>
                            <div id="modal6{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h6>
                                        <strong>
                                            Are You Sure You Want To Complete The Task?
                                        </strong>
                                    </h6>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect accent-4 red waves-light btn-small">
                                        Cancel
                                    </button>
                                    <a href="{{ url_for('complete_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light accent-4 green">
                                        Complete Task
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                            <div class="box-shadow white-text text-shadow center-align purple darken-1">
                                No Active Tasks
                            </div>
                    {% endfor %}
                </ul>
            </ul>
            <a href="{{ url_for('add_personal_task') }}" class="btn waves-effect hoverable waves-light purple darken-1">Create New Personal Task</a>
        </div>
        {% if session.is_admin == "on" or session.is_mgmt == "on" %}
            <!-- Admin Cards -->
            <div class="col s12 m5">
                <div class="col s12">
                    <div class="card blue-grey">
                        <div class="card-content white-text">
                            <span class="center-align card-title">Manage Personal Tasks</span>
                            <p>Keep track and check status of tasks you assigned to others or create new personal tasks</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{ url_for('add_personal_task') }}" class="btn-small waves-effect hoverable waves-light purple darken-1">
                                Create Personal Task
                            </a>
                            <a href="#" class="btn-small waves-effect hoverable waves-light purple darken-1">
                                Check Assigned Tasks
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="card blue-grey">
                        <div class="card-content white-text">
                            <span class="center-align card-title">Manage Departments</span>
                            <p>List all tasks by all departments. List, edit or delete department tasks, 
                                or create new shared or deparmental tasks</p>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{ url_for('add_dept_task') }}" class="btn-small waves-effect hoverable waves-light purple darken-1">
                                Create Department Task
                            </a>
                            <a href="{{ url_for('all_tasks') }}" class="btn-small waves-effect hoverable waves-light purple darken-1">
                                All Tasks
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="card blue-grey">
                        <div class="card-content white-text">
                            <span class="center-align card-title">User Management</span>
                        </div>
                        <div class="card-action center-align">
                            <a href="{{ url_for('register') }}" class="btn-small waves-effect hoverable waves-light purple darken-1">
                                Register New User
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if session.is_admin == "on" or session.is_mgmt == "on" %}
        <!-- Floating Action Button-->
        <div class="fixed-action-btn show-on-large">
            <a class="btn-floating btn-large light-green accent-3">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <ul>
                <li>
                    <a href="{{ url_for('register') }}"
                        class="btn-floating brown tooltipped" data-position="left" 
                        data-tooltip="Register New User">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating red tooltipped" data-position="left" 
                        data-tooltip="Track Delegated Tasks">
                        <i class="fas fa-user-tie"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('all_tasks') }}" class="btn-floating orange tooltipped" 
                        data-position="left" data-tooltip="Manage Department Tasks">
                        <i class="fas fa-hotel"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add_personal_task') }}" class="btn-floating green tooltipped" data-position="left" 
                        data-tooltip="Create Personal Task">
                        <i class="fas fa-users"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add_dept_task') }}" class="btn-floating blue tooltipped" data-position="left" 
                        data-tooltip="Create Department Task">
                        <i class="fas fa-tasks"></i>
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}