{% extends "base.html" %}
{% block content %}

    <h4 class="center-align purple-text text-darken-4">Register New User</h4>

    <div class="row">
        <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix purple-text text-darken-4"></i>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- First & last name -->
                <div class="row">
                    <div class="input-field col s12 m6"> 
                        <i class="fas fa-user-alt prefix purple-text text-darken-4"></i>
                        <input id="first_name" name="first_name" type="text" minlength="3" maxlength="20"
                            pattern="^[a-zA-Z]{3,20}$" class="validate" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="last_name" name="last_name" type="text" minlength="3" maxlength="20"
                            pattern="^[a-zA-Z]{3,20}$" class="validate" required>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <!-- Department dropdown -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="prefix fas fa-hotel purple-text text-darken-4"></i>
                        <select id="department" name="department" class="validate" required>
                            <option value="" disabled selected>Select Department</option>
                            {% for department in departments if department.department_name != "shared" %}
                                <option value="{{ department.department_name }}">{{ department.department_label }}</option>
                            {% endfor %}
                        </select>
                        <label for="department">Select Department</label>
                    </div>
                </div>
                <!-- passowrd -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix purple-text text-darken-4"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Switch -->
                <div class="row">
                    <i class="fas fa-question-circle prefix purple-text text-darken-4 tooltipped" data-position="right" 
                    data-tooltip="Admin & Mgmt can see & edit all tasks. Admin can add new users"></i>
                    <span class="switch center-align col s5">
                        <label for="admin">
                            Administrator
                            <input type="checkbox" id="admin" name="admin">
                            <span class="lever"></span>
                        </label>
                    </span>
                    <span class="switch center-align col s5">
                        <label for="mgmt">
                            Management
                            <input type="checkbox" id="mgmt" name="mgmt">
                            <span class="lever"></span>
                        </label>
                    </span>
                </div>
                <!-- / TESTING ADDITIONAL USER KEYS -->
                <!-- register button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large purple darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}