{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- Current user's department tasks -->
        <div class="col s12 m8 offset-m2 task-list">
            <ul>
                <h5 class=" list-heading center-align purple-text darken-4">
                    {% for department in departments if department.department_name == session.department %}
                        <strong>{{ department.department_label}} Tasks</strong>
                    {% endfor %}
                </h5>
                <div class="expand-div box-shadow center-align purple darken-1">
                    <button id="collapse-dept" class="center-align white-text text-shadow purple darken-1">
                        Show / Hide {{ session.department.capitalize() }}'s Tasks
                    </button>
                </div>
                <!-- Looks for department name in tasks and shows only tasks for department current user belong too -->
                <ul id="dept-tasks" class="collapsible">
                    {% for task in tasks if task.department.lower() == session.department.lower() %}
                        <li>
                            <div class="collapsible-header white-text text-shadow purple darken-1">
                                <div class="col s1">
                                    <i class="fas fa-caret-down"></i>  
                                </div>
                                <div class="col s11">
                                    <span class="col s12 m6">
                                        <strong>{{ task.task_name.capitalize() }}</strong>
                                        {% if today > task.due_date %}
                                            &nbsp;
                                            <i class="fas fa-exclamation-triangle red-text tooltipped" 
                                                data-position="right" data-tooltip="Task Due!">
                                            </i>
                                        {% endif %}
                                    </span>
                                    <span class="col s12 m6">
                                        <span>Due:&nbsp;</span>
                                        {{ task.due_date.strftime('%d/%b/%Y') }}
                                        <span> 
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if task.is_urgent == "on" %}
                                                <i class="fas fa-exclamation-circle yellow-text text-darken-3 tooltipped" 
                                                    data-position="right" data-tooltip="Urgent Task!">
                                                </i>
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <p>{{ task.task_description.capitalize() }}</p>
                                <p>
                                    <em>
                                        Created by: {{ task.creator_label }}&nbsp;&nbsp;
                                        on: {{ task.created_on.strftime('%d/%b/%Y') }} 
                                    </em>
                                    {% if task.updated_by %}
                                        <em>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Updated by: {{ task.updator_label }}&nbsp;&nbsp;
                                            on: {{ task.updated_on.strftime('%d/%b/%Y') }} 
                                        </em>
                                    {% endif %}
                                </p>
                                <a href="#modal7{{ loop.index }}" 
                                    class="btn-small waves-effect waves-light accent-4 modal-trigger green">
                                    Done
                                </a>
                                {% if session.user|lower == task.created_by|lower 
                                    or session.is_admin == "on" or session.is_mgmt == "on" %}
                                    <a href="{{ url_for('edit_dept_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light blue">
                                        Edit
                                    </a>
                                    <!-- Delete button triggers modal to confirm for defensive purposes -->
                                    <a href="#modal3{{ loop.index }}" 
                                        class="btn-small waves-effect waves-light accent-4 modal-trigger red">
                                        Delete
                                    </a>
                                {% endif %}
                            </div>
                            <!-- Modal Structure -->
                            <div id="modal3{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h6>
                                        <strong>
                                            Are You Sure You Want To Permanently Delete The Task?
                                        </strong>
                                    </h6>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect accent-4 green waves-light btn-small">
                                        Cancel
                                    </button>
                                    <a href="{{ url_for('delete_task', task_id=task._id) }}" 
                                        class="modal-close waves-effect accent-4 red waves-light btn-small">
                                        Delete Task
                                    </a>
                                </div>
                            </div>
                            <div id="modal7{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h6>
                                        <strong>
                                            Are You Sure You Want To Complete The Task?
                                        </strong>
                                    </h6>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect accent-4 red waves-light btn-small">
                                        Cancel
                                    </button>
                                    <a href="{{ url_for('complete_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light accent-4 green">
                                        Complete Task
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <div class="box-shadow white-text text-shadow center-align purple darken-1">
                            No Active Tasks
                        </div>
                    {% endfor %}
                </ul>  
            </ul>           
        </div>
        <!-- / Session user's department tasks -->
        <!-- Shared tasks -->
        <div class="col s12 m8 offset-m2 task-list">
            <ul>
                <h5 class="list-heading center-align purple-text darken-4"><strong>Shared Tasks</strong></h5>
                <div class="expand-div box-shadow center-align purple darken-1">
                    <button id="collapse-shared" class="center-align white-text text-shadow purple darken-1">
                        Show / Hide Shared Tasks
                    </button>
                </div>
                <!-- Looks for tasks with "shared" department name -->
                <ul id="shared-tasks" class="collapsible">
                    {% for task in tasks if task.department.lower() == "shared" %}
                        <li>
                            <div class="collapsible-header white-text text-shadow purple darken-1">
                                <div class="col s1">
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="col s11">
                                    <span class="col s12 m6">
                                        <strong>{{ task.task_name.capitalize() }}</strong>
                                        {% if today > task.due_date %}
                                            &nbsp;
                                            <i class="fas fa-exclamation-triangle red-text tooltipped" 
                                                data-position="right" data-tooltip="Task Due!">
                                            </i>
                                        {% endif %}
                                    </span>
                                    <span class="col s12 m6">
                                        <span>Due:&nbsp;</span>
                                        {{ task.due_date.strftime('%d/%b/%Y') }}
                                        <span> 
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            {% if task.is_urgent == "on" %}
                                                <i class="fas fa-exclamation-circle yellow-text text-darken-3 tooltipped" 
                                                    data-position="right" data-tooltip="Urgent Task!">
                                                </i>
                                            {% endif %}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <p>{{ task.task_description.capitalize() }}</p>
                                <p>
                                    <em>
                                        Created by: {{ task.creator_label }}&nbsp;&nbsp; 
                                        on: {{ task.created_on.strftime('%d/%b/%Y') }}
                                    </em>
                                    {% if task.updated_by %}
                                        <em>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Updated by: {{ task.updator_label }}&nbsp;&nbsp;
                                            on: {{ task.updated_on.strftime('%d/%b/%Y') }}
                                        </em>
                                    {% endif %}
                                </p>
                                <a href="#modal8{{ loop.index }}" 
                                    class="btn-small waves-effect waves-light accent-4 modal-trigger green">
                                    Done
                                </a>
                                {% if session.user|lower == task.created_by|lower or session.is_admin == "on" 
                                    or session.is_mgmt == "on" %}
                                    <a href="{{ url_for('edit_dept_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light blue">
                                        Edit
                                    </a>
                                    <!-- Delete button triggers modal to confirm for defensive purposes -->
                                    <a href="#modal4{{ loop.index }}" 
                                        class="btn-small waves-effect waves-light accent-4 modal-trigger red">
                                        Delete
                                    </a>
                                {% endif %}
                            </div>
                            <!-- Modal Structure -->
                            <div id="modal4{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h6>
                                        <strong>
                                            Are You Sure You Want To Permanently Delete The Task?
                                        </strong>
                                    </h6>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect accent-4 green waves-light btn-small">
                                        Cancel
                                    </button>
                                    <a href="{{ url_for('delete_task', task_id=task._id) }}" 
                                        class="modal-close waves-effect accent-4 red waves-light btn-small">
                                        Delete Task
                                    </a>
                                </div>
                            </div>
                            <div id="modal8{{ loop.index }}" class="modal">
                                <div class="modal-content">
                                    <h6>
                                        <strong>
                                            Are You Sure You Want To Complete The Task?
                                        </strong>
                                    </h6>
                                </div>
                                <div class="modal-footer">
                                    <button class="modal-close waves-effect accent-4 red waves-light btn-small">
                                        Cancel
                                    </button>
                                    <a href="{{ url_for('complete_task', task_id=task._id) }}" 
                                        class="btn-small waves-effect waves-light accent-4 green">
                                        Complete Task
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                            <div class="box-shadow white-text text-shadow center-align purple darken-1">
                                No Active Tasks
                            </div>
                    {% endfor %}
                </ul>  
            </ul>
        </div>
    </div>

{% endblock %}