{% extends "base.html" %}
{% block content %}

    <div class="row">
        <!-- Session's user's department tasks -->
        <div class="col s12 m6 task-list">
            <ul class="collapsible">
                <h5 class="center-align purple-text darken-4">{{ session.department.capitalize() }}'s Tasks</h5>
                <!-- Looks for department name in tasks and shows only tasks for department current user belong too -->
                {% for task in tasks if task.department.lower() == session.department.lower() %}
                    <li>
                        <div class="collapsible-header white-text text-shadow purple darken-1"><i class="fas fa-caret-down"></i>
                            <strong>{{ task.task_name.capitalize() }}</strong>
                            <span>&nbsp;&nbsp; - &nbsp;Due:&nbsp;</span>{{ task.due_date }}
                            <span> &nbsp;&nbsp;&nbsp;&nbsp;
                                {% if task.is_urgent == "on" %}
                                    <i class="fas fa-exclamation-circle yellow-text text-darken-3 tooltipped" data-position="right"
                                        data-tooltip="Urgent Task!"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="collapsible-body">
                            <p>{{ task.task_description.capitalize() }}</p>
                            <p><em>by: {{ task.created_by }}&nbsp;&nbsp;&nbsp;&nbsp; 
                                on: {{ task.created_on }} </em>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- / Session user's department tasks -->
        <!-- Shared tasks -->
        <div class="col s12 m6 task-list">
            <ul class="collapsible">
                <h5 class="center-align purple-text darken-4">Shared Tasks</h5>
                <!-- Looks for tasks with "shared" department name -->
                {% for task in tasks if task.department.lower() == "shared" %}
                    <li>
                        <div class="collapsible-header white-text text-shadow purple darken-1"><i class="fas fa-caret-down"></i>
                            <strong>{{ task.task_name.capitalize() }}</strong>
                            <span>&nbsp;&nbsp; - &nbsp;Due:&nbsp;</span>{{ task.due_date }}
                            <span> &nbsp;&nbsp;&nbsp;&nbsp;
                                {% if task.is_urgent == "on" %}
                                    <i class="fas fa-exclamation-circle yellow-text text-darken-3 tooltipped" data-position="right"
                                        data-tooltip="Urgent Task!"></i>
                                {% endif %}
                            </span>
                        </div>
                        <div class="collapsible-body">
                            <p>{{ task.task_description.capitalize() }}</p>
                            <p><em>by: {{ task.created_by }}&nbsp;&nbsp;&nbsp;&nbsp; 
                                on: {{ task.created_on }} </em>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Shared tasks -->
    </div>

{% endblock %}