{% extends "base.html" %}
{% block content %}

<div class="row">
    <ul class="collapsible col s12 m6">
        <h5 class="center-align">{{ session.department.capitalize() }} Tasks</h5>
        {% for department_task in department_tasks if department_task.department_name == session.department.lower() %}
            <li>
            <div class="collapsible-header white-text text-shadow purple darken-1"><i class="fas fa-caret-down"></i>
                {{ department_task.task_name }}
            </div>
            <div class="collapsible-body">
                <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <ul class="collapsible col s12 m6">
        <h5 class="center-align">Shared Tasks</h5>
        {% for shared_task in shared_tasks %}
            <li>
            <div class="collapsible-header white-text text-shadow purple darken-1"><i class="fas fa-caret-down"></i>
                {{ shared_task.task_name }}
            </div>
            <div class="collapsible-body">
                <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}